<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<!-- 課題1 -->
<p>
  <br>
  ユーザ名：<%= @user.name %>
  <br>
  email：<%= @user.email %> 
  <br>
  地域：<%= @user.region %>
  <br>
  プロフィール：<%= @user.profile %> 

</p>


